.homes{
    grid-column:center-start /center-end;
    margin: 15rem 0;
    // the grid container 
    display: grid;
    //auto-fit will make the grid to fit as many columns as it can and be responsive when we resize the window.
    //minmax(max, min) each column will be max 25rem to 1fr. Both will make the grid responsive without media queries. 
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 7rem;
}

.home{
    background-color:$color-grey-light-1;

    &__img{
        width: 100%;
    }

    &__like{

    }

    &__name{

    }

//icons 
    &__location,
    &__rooms,
    &__area,
    &__price{
        svg{
            //the svg is as nested elements 
            fill: $color-primary;
            height: 2rem;
            width: 2rem;
        }

        p{

        }
    }
}